[Desktop Entry]
Version=1.0
Type=Application
Name=client find
Comment=client find
Exec=bash client_find.sh
Icon=alacarte
Path=
Terminal=true
StartupNotify=false
GenericName=client find
