[Desktop Entry]
Version=1.0
Type=Application
Name=client backup
Comment=client backup
Exec=bash client_backup.sh
Icon=system-users
Path=
Terminal=true
StartupNotify=false
