[Desktop Entry]
Version=1.0
Type=Application
Name=client change
Comment=client change
Exec=bash client_change.sh
Icon=system-users
Path=
Terminal=true
StartupNotify=false
