[Desktop Entry]
Version=1.0
Type=Application
Name=client file
Comment=client file
Exec=bash client.sh
Icon=system-users
Path=
Terminal=true
StartupNotify=false
