[Desktop Entry]
Version=1.0
Type=Application
Name=client find id
Comment=client find id
Exec=bash cliend_find_id.sh
Icon=system-users
Path=
Terminal=true
StartupNotify=false
GenericName=client find id
